.header{
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 4%;
}
.header ul{
    display: flex;
}
.header li{
    list-style: none;
    margin-right:20px;
    font-size: 20px;
    font-weight: bold;
}
.header a{
    color:#000;
    text-decoration:none;
}
